@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir.eot") format("eot"), url("../fonts/vazir.ttf") format("truetype"), url("../fonts/vazir.woff") format("woff"), url("../fonts/vazir.woff2") format("woff2");
}

* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: "vazir";
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #c50707, #faa000);
}

.search {
    height: 50px;
    position: relative;
}

.search .input {
    font-family: "vazir";
    font-size: 18px;
    padding: 5px 10px;
    height: 50px;
    width: 20px;
    border: none;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
    -moz-transition: width 0.4s ease;
    -ms-transition: width 0.4s ease;
    -o-transition: width 0.4s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.search.active .input {
    width: 300px;
}

.search .btn {
    padding: 15px;
    border: none;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 60px;
    cursor: pointer;
    box-sizing: border-box;
    transition: right 0.4s ease;
    -webkit-transition: right 0.4s ease;
    -moz-transition: right 0.4s ease;
    -ms-transition: right 0.4s ease;
    -o-transition: right 0.4s ease;
    font-size: 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.search.active .btn {
    right: 300px;
}
